* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
    background-color: rgb(44, 41, 41);
}


footer {
    width: 100%;
}

header {
    background-color: rgb(239, 233, 225);
    border-bottom: 5px solid rgb(120, 88, 56);
    width: 100%;
    text-decoration: none;
    padding: 0.5em;
}

.logo {
    height: 30px;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar a {
    text-decoration: none;
    list-style: none;
    color: rgb(44, 41, 41);
    font-weight: bold;
}

.nav-links > li {
    margin: 0.5em;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('images/torso-of-nefertiti-landing.jpg') no-repeat center center/cover;
    border-bottom: 5px solid rgb(120, 88, 56);
    display: flex;
    justify-content: center;
    align-items: first baseline;
}

.title-overlay {
    color: rgb(239, 233, 225);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.title-overlay h1 {
    font-size: 3.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-overlay h2 {
    font-size: 1rem;
}

/*Introduction CTA Section*/
span {
    color: rgb(120, 88, 56);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.6rem;
}

.introduction-section {
    padding: 1rem;
    background-color: rgb(239, 233, 225);
}

.intro-heading {
    margin-bottom: 0.5rem;
}

.introduction-to-nefertiti,
.timeline-cta {
    margin-bottom: 1rem;
}

.timeline-cta h2 {
    margin-top: 2rem;
}

hr {
    margin-bottom: 2rem;;
    border: solid 1px rgb(120, 88, 56);
    display: hidden;
}

.timeline-button-container button {
    background-color: rgb(44, 41, 41);
    padding: 0.6rem 1.5rem;
    border-style: none;
    border-radius: 2rem;
}

button {
    color: rgb(239, 233, 225);
    font-weight: bold;
    margin-top: 1.5rem;
}

.fa-arrow-right {
    margin-left: 0.5rem;
}

/*Artifacts CTA section*/
.artifact-cards-container {
    background-color: rgb(44, 41, 41);
    padding: 1rem;
}

.artifact-cards-container h1 {
    color: rgb(239, 233, 225);
    text-align: center;
}

.artifact-cards-container span {
    font-size: 1.8rem;
}

.artifact-card-section {
    padding-bottom: 2rem;
}

/*Timeline of events section*/
.timeline-of-events-section {
    background-color: rgb(239, 233, 225);
}

.timeline-heading {
    padding: 2rem 1rem 2rem 1rem; 
    text-align: center;
}

.timeline-heading h2 {
    font-weight: 300;
    color: rgb(44, 42, 41);
    text-align: center;
}

.timeline-heading h1 {
    font-size: 2rem;
    color: rgb(44, 42, 41);
}

h1 span {
    font-size: 2.2rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  margin: 1rem;
  height: 0;
  max-width: 100%;
}

.iframe-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; 
  border: 3px solid rgb(120, 88, 56);
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.timeline-text-container {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.timeline-text-container h2, p {
    margin-bottom: 1rem;
    color: rgb(44, 42, 41);
}

/*Did You Know Section*/
.fact-section {
    background-color: rgb(239, 233, 225);
}    

.fact-heading {
    padding: 2rem 1rem 2rem 1rem; 
    text-align: center;
}

.fact-heading h2 {
    font-weight: 300;
    color: rgb(44, 42, 41);
}

.fact-heading h1 {
    font-size: 2rem;
    color: rgb(44, 42, 41);
}

.fact-list {
    padding: 3rem 3rem 3rem 3rem;
    list-style-type: none;
    color: rgb(44, 42, 41);
}

.fact-item {
    border-top: 3px solid rgb(120, 88, 56);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}



.nested-fact-list {
    border-top: 3px solid rgb(120, 88, 56);
    list-style-type: disc;
    padding-top: 2rem;
}

.nested-fact-list li {
    list-style-type: disc;
    padding-left: 1rem;
    list-style-position: inside;
}

.first-fact {
    margin: 0;
    border-top: 3px solid rgb(120, 88, 56);
    padding-bottom: 2.5rem;
}

/*Artifact info section*/
.artifact-info-heading {
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
}

.artifact-info-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 233, 225);
}

.artifact-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

small {
    font-size: 0.7rem;
    padding: 0.5rem 1rem 0 1rem;
    margin-bottom: 1rem;
}

.artifact-info-content h2 {
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
    color: rgb(44, 42, 41);
}

.artifact-info-content img {
    width: 91%;
    height: 91%;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid rgb(120, 88, 56);
}

.artifact-info-content p {
    padding: 0 1rem 1rem 1rem;
}

.artifact-info-heading h2 {
    font-weight: 300;
    color: rgb(44, 42, 41);
}

.artifact-info-heading h1 {
    font-size: 2rem;
    color: rgb(44, 42, 41);
}

.artifact-info-content hr {
    border: 3px solid rgb(120, 88, 56);
    width: 60px;
    margin-bottom: 0.5rem;
}

.artifact-info-content {
    display: flex;
    flex-direction: column;
}

.artifact-info-content button {
    text-decoration: none;
    color: rgb(239, 233, 225);
    background-color: rgb(44, 42, 41);
    font-weight: bold;
    margin: 2rem;
    margin-bottom: 3rem;
    padding: 0.6rem 1.5rem;
    border-style: none;
    border-radius: 2rem;
}

.fa-arrow-left {
    margin-right: 0.5rem;
}

/*Artifact Gallery Section*/
.artifact-card-section h1 {
    color: rgb(239, 233, 225);
    text-align: center;
    padding: 2rem 1rem 0 1rem;
}

.artifact-card-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.artifact-card-container img {
    width: 8rem;
    height: auto;
    border-radius: 1.2rem;
}

.card a {
    margin: 0;
    padding: 0;
    line-height:0%;
}

.card {
    background-color: rgb(239, 233, 225);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2rem 0 0.2rem 0.2rem;
    border-radius: 1.5rem;
}

.card-text p {
    font-size: 0.6rem;
}

.card-text h3 {
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 10%;
    max-width: 70%;
}

.card-text {
    margin-left: 1rem;
}

.card-icon {
    position: absolute;
    right: 4%;
    background-color: rgb(44, 42, 41);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: rgb(239, 233, 225);
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 2rem 1rem 0 1rem;
}

/*Bust of Nefertiti Section*/
.artifact-gallery-section {
    background-color: rgb(239, 233, 225);
}

.bust-content-container {
    display: flex;
    flex-direction: column;
}

.bust-text-container h2, p {
    color: rgb(44, 42, 41);
    margin-bottom: 1rem;
}

.bust-text-container h2 {
    text-align: center;
}

.bust-text-container {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

#bust-image {
    height: 250px;
    width: 100%;
    background-size: contain;
    background: url('images/bust-of-nefertiti-1.jpg') no-repeat center center/cover;
    border-bottom: 5px solid rgb(120, 88, 56);
    display: flex;
    justify-content: center;
    align-items: first baseline;
}

.bust-text-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid rgb(120, 88, 56);
    margin-bottom: 1rem;
}

.bust-heading {
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
}

.bust-heading h1 {
    font-size: 2rem;
    color: rgb(44, 42, 41);
}

/*Related content section*/
.related-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 41, 41);
    padding-left: 2rem;
}

.related-content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
}

.related-content-container img {
    width: 7rem;
    height: auto;
    border-radius: 20%;
    margin-right: 1rem;
}

.related-content-container h2 {
    font-size: 1rem;
    color: rgb(239, 233, 225);
    margin: 0;
    margin-bottom: 0.5rem;
}

.related-content-container p {
    font-size: 0.7rem;
    color: rgb(239, 233, 225);
    margin-bottom: 0.5rem;
}

.related-text-content a {
    text-decoration: none;
    color: rgb(239, 233, 225);
    font-weight: bold;
}

.newsletter-container {
    background-color: rgb(239, 233, 225);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

form,
h3 {
    text-align: center;
    font-family: roboto;
    color: rgb(44, 42, 41);
    margin: 0;
}


#email {
    background-color: rgb(239, 233, 225);
    border-style: none;
    border: 2px solid rgb(44, 42, 41);
    border-radius: 1rem;
    padding-left: 0.3rem;
}

input,
textarea {
    outline: none;
}

form label {
    font-family: roboto;
}

#signup-button .fa-arrow-right {
    color: rgb(239, 233, 225);
    display: flex;
    text-decoration: none;
}

#signup-button {
    background-color: rgb(44, 41, 41);
    width: 32px;
    height: 22px;
    border-radius: 15px;
    border-style: none;
    padding: 0.1rem;
    display: inline-block;
    text-decoration-line: none;
}

.signup-confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20% 10% 20% 10%;
}

.confirm-container {
    background-color: rgb(239, 233, 225);
    width: 90%;
    height: 70%;
    position: relative;
    border-radius: 1.5rem;
}

.fa-x {
    position: absolute;
    top: 15px;
    right: 15px;
}

.confirm-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15% 5% 10% 5%;
}

.confirm-check {
    border: 3px solid rgb(44, 42, 41);
    padding: 5%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.confirm-text h2 {
    margin-bottom: 5px;
    font-size: 2rem;
}

.confirm-text p {
    font-size: 1rem;
}

.confirm-text {
    color: rgb(44, 42, 41);
    text-align: center;
}

.signup-container h2, p {
    color: rgb(44, 42, 41);
}

.footer-container {
    background-color: rgb(44, 41, 41);
    padding: 1rem;
}

.about-container,
.navigation-links,
.acknowledgements-container {
    margin-bottom: 1rem;
}


.about-heading,
.navigation-heading,
.acknowledgements {
    color: rgb(176, 176, 176);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.about-text,
.footer-links,
.acknowledgement-links {
    color: rgb(176, 176, 176);
    font-size: 0.8rem;
    list-style-type: none;
}

.footer-links,
.acknowledgement-links,
a {
    color: rgb(176, 176, 176);
    line-height: 1.8rem;
}

.copyright-info {
    font-size: 1rem;
    color: rgb(176, 176, 176);
    margin-left: 15px;
}


/*Media Queries for responsive design*/
@media screen and (min-width: 768px) {
    .introduction-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .introduction-to-nefertiti {
        justify-content: space-between;
        margin-right: 1rem;
        width: 50%;
        vertical-align: top;
    }

    .timeline-cta {
        margin-left: 1rem;
        width: 50%;
    }

    .timeline-cta h2 {
        margin-top: 0;
    }

    .timeline-cta button{

    }

    /*Media querys for related content layout*/
    .related-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .timeline-of-events-section {
        display: flex;
        flex-direction: row;
    }

    .timeline-content-container {
        border-left: 5px solid rgb(120, 88, 56);
        padding: 1.5rem 1rem 1.5rem 1rem;
        width: 65%;
        height: 1000px;
        overflow-y: scroll;
    }

    .timeline-heading {
        width: 35%;
    }

    /*Media querys for fact list layout*/
    .fact-section {
        display: flex;
        flex-direction: row;
    }

    .fact-heading {
        width: 35%;
    }

    .fact-list {
        border-left: 5px solid rgb(120, 88, 56);
        width: 65%;
    }

    .first-fact {
        border: none;
    }

    .artifact-info-section {
        display: flex;
        flex-direction: row;
    }

    .artifact-info-heading {
        width: 35%;
    }

    .artifact-info-content {
        width: 65%;
        padding-top: 2.5rem;
        padding-left: 1rem;
        border-left: 5px solid rgb(120, 88, 56);
    }

    .artifact-info-content img {
        width: 95%;
        height: 95%;
        object-fit: cover;
    }

    small {
        max-width: 93%;
        margin-bottom: 1rem;
    }


    .artifact-info-content h2 hr {
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
    }

    /*Media querys for artifact gallery layout*/
    .artifact-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        vertical-align: top;
    }

    .card {
        max-width: 22%;
        height: 300px;;
        display: flex;
        flex-direction: column;
        vertical-align: top;
        gap: 20px;
        position: relative;
    }

    .card img {
        width: 98%;
    }

    .card-text {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 500%;
    }

    .card-text h3 {
        text-align: center;
    }

    .card-text p {
        position: absolute;
        bottom: 5%;
    }

    .card-icon {
        display: none;
    }

    /*Media queries for Bust section layout*/
    .bust-content-container {
        display: flex;
        flex-direction: row;
    }

    .bust-heading {
        width: 35%;
    }

    .bust-text-container {
        width: 65%;
        border-left: 5px solid rgb(120,88,56);
        padding: 1.5rem 1rem 1.5rem 1rem;
        height: 1000px;
        overflow-y: scroll;
    }

    /*Media queries for footer layout*/
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .acknowledgement-links {
        column-count: 2;
        column-gap: 15px;
    }

    .acknowledgements-container {
        margin-left: 30px;
        width: 33%
    }

    .navigation-links {
        width: 33%;
        margin-left: 60px;
    }

    .about-container {
        width: 33%;
    }

    .copyright-info {
        margin-left: 15px;
    }

    hr {
        margin: 0;
    }

    .title-overlay h1 {
        font-size: 17vw;
    }

    .title-overlay h2 {
        font-size: 2vw;
        position: absolute;
        top: 85%;
        left: 30%;
    }

    .title-overlay {
        position: relative;
    }

    .timeline-cta {
        position: relative;
        text-align: center;
    }

    .timeline-cta button {
        position: absolute;
        bottom: 15%;
        left: 25%;
    }

    #hero-image {
        height: 700px;
    }

    .introduction-section {
        display: flex;
    }

}

@media screen and (min-width: 1024px) {
    .card {
        position: relative;
        height: 400px;
    }

    .card.text p {
        position: absolute;
        bottom: 5%;
        font-size: 0.8rem;
    }

    .timeline-cta {
        position: relative;
    }

    .timeline-cta button {
        position: absolute;
        bottom: 15%;
        left: 25%;
    }

    hr {
        margin: 0;
    }

    .title-overlay h1 {
        font-size: 17vw;
    }

    .title-overlay h2 {
        font-size: 2vw;
        position: absolute;
        top: 85%;
        left: 30%;
    }

    .title-overlay {
        position: relative;
    }

    #hero-image {
        height: 800px;
    }

    .related-section {
        padding-right: 7rem;
        padding-left: 7rem;
    }

    .related-content-container {
        width: 40%;
    }
}

/*Media querys for 1440px (large laptops)*/
@media screen and (min-width: 1440px) {
    .introduction-to-nefertiti {
        max-width: 40%;
        padding-left: 5%;
        padding-top: 2.5%;
    }

    .timeline-cta {
        max-width: 60%;
        padding-right: 5%;
        padding-top: 2.5%;
    }

    .intro-heading {
        font-size: 2.5rem;
    }

    .introduction-section span {
        font-size: 3rem;
    }

    .intro-text {
        font-size: 1.5rem;
    }

    .timeline-cta h2 {
        font-size: 2.5rem;
    }

    .artifact-card-section h1 {
        font-size: 2.5rem;
        padding: 3rem 2rem 1 2rem;
    }

    .artifact-card-section span {
        font-size: 3rem;   
    }

    .introduction-section {
        margin-bottom: 3rem;
    }

    .artifact-card-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .card {
        height: 30rem;
    }

    .card-text h3 {
        font-size: 1.3rem;
    }

    .card-text p {
        font-size: 1rem;
    }

    .fact-list li {
        font-size: 1.2rem;
    }
}
