* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;

    background-color: rgb(44, 41, 41);
}


footer {
    width: 100%;
}

header {
    background-color: rgb(239, 233, 225);
    border-bottom: 5px solid rgb(120, 88, 56);
    width: 100%;
    text-decoration: none;
    padding: 0.5em;
}

.logo {
    height: 30px;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar a {
    text-decoration: none;
    list-style: none;
    color: rgb(44, 41, 41);
    font-weight: bold;
}

.nav-links > li {
    margin: 0.5em;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('images/torso-of-nefertiti-landing.jpg') no-repeat center center/cover;
    border-bottom: 5px solid rgb(120, 88, 56);
    display: flex;
    justify-content: center;
    align-items: first baseline;
}

.title-overlay {
    color: rgb(239, 233, 225);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.title-overlay h1 {
    font-size: 17vw;
    justify-content: center;
    align-items: center;
}


span {
    color: rgb(120, 88, 56);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.6rem;
}

.introduction-section {
    padding: 1rem;
    background-color: rgb(239, 233, 225);
}

.intro-heading {
    margin-bottom: 0.5rem;
}

.introduction-to-nefertiti,
.timeline-cta {
    margin-bottom: 1rem;
}

hr {
    margin-bottom: 1rem;
    border: solid 1px rgb(120, 88, 56);
}

.timeline-button-container button {
    background-color: rgb(44, 41, 41);
    padding: 0.6rem 1.5rem;
    border-style: none;
    border-radius: 2rem;
}

button {
    color: rgb(239, 233, 225);
    font-weight: bold;
    margin-top: 1.5rem;
}

.fa-arrow-right {
    margin-left: 0.5rem;
}

.artifact-cards-container {
    background-color: rgb(44, 41, 41);
    padding: 1rem;
}

.artifact-cards-container h1 {
    color: rgb(239, 233, 225);
}

.related-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 41, 41);
}

.related-content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
}

.related-content-container img {
    width: 7rem;
    height: auto;
    border-radius: 20%;
    margin-right: 1rem;
}

.related-content-container h2 {
    font-size: 1rem;
    color: rgb(239, 233, 225);
    margin: 0;
    margin-bottom: 0.5rem;
}


.related-content-container p {
    font-size: 0.7rem;
    color: rgb(239, 233, 225);
    margin-bottom: 0.5rem;
}

.related-text-content a {
    text-decoration: none;
    color: rgb(239, 233, 225);
    font-weight: bold;
}

.newsletter-container {
    background-color: rgb(239, 233, 225);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

form,
h3 {
    text-align: center;
    font-family: roboto;
    color: rgb(44, 42, 41);
    margin: 0;
}


#email {
    background-color: rgb(239, 233, 225);
    border-style: none;
    border: 2px solid rgb(44, 42, 41);
    border-radius: 1rem;
    padding-left: 0.3rem;
}

input,
textarea {
    outline: none;
}

form label {
    font-family: roboto;
}

.fa-arrow-right {
    color: rgb(239, 233, 225);
    
}

form button {
    background-color: rgb(44, 41, 41);
    border-radius: 1.5rem;
    border-style: none;
    padding: 0.1rem;
}

form button {
    padding-right: 0.5rem;
}


.footer-container {
    background-color: rgb(44, 41, 41);
    padding: 1rem;
}

.about-container,
.navigation-links,
.acknowledgements-container {
    margin-bottom: 1rem;
}


.about-heading,
.navigation-heading,
.acknowledgements {
    color: rgb(176, 176, 176);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.about-text,
.footer-links,
.acknowledgement-links {
    color: rgb(176, 176, 176);
    font-size: 0.8rem;
    list-style-type: none;
}

.footer-links,
.acknowledgement-links,
a {
    color: rgb(176, 176, 176);
    line-height: 1.2rem;
}

.copyright-info {
    font-size: 1rem;
    color: rgb(176, 176, 176);
}
